*
{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
.brain
{
    border: 3px solid black;
    position: fixed;
    width: 100%;
    background-color: #fff; 
}
.brain img
{
    width: 30px;
    height: 25px;
}
.brain ul
{
    display: inline-flex;
    margin-left: 20px;
}
.brain h2
{
    display: inline;
}
.brain ul li
{
    margin-right: 15px;
    list-style: none;
}
.brain ul li a
{
    color: black;
    font-family: 'Bitter', serif;
}
.brain .search
{
    display: inline;
    float: right;
    line-height: 37px;
}
.slider .side ul li a
{
    color:black;
    padding: 5px;
    font-size: 20px;
}
.slider .side ul 
{
    line-height: 30px;    

}
.slider .icons
{
    padding: 5px;
    font-size: 20px;
}
.slider
{
    position: fixed;
    margin-top:42px;
    width: 18%;
    height: 100vh;
    border: 1px solid black;
    background-color: white;
}
.slider h2
{
    padding: 10px;
    text-decoration: underline;
}
.slider .side ul li 
{
    border-bottom: 3px solid #000;
    transition: 1s;
}
.slider .side ul li:hover 
{
    border-left: 5px solid #000;
}
.stomach
{
    width: 82%;
    text-align: center;
    float: right;
    margin-top: 40px;
}
.stomach h2
{
    text-align: center;
    background-color: #fff;
    width: 100%;
    float: right;
    border: 2px solid black;
}
.stomach .first .box img
{
    width: 100%;
    height: 200px;
}
.stomach .first .box
{
    display: inline-block;
    margin-right: 120px;
    padding: 5px;
    border-radius: 20px;
    width: 250px;
    margin-top: 20px;
    border:5px double black;
    background-color: #fff;
}
.first
{
    /* background-color:red; */
    background-image: url(https://wallpaperaccess.com/full/1759696.jpg);
  padding-bottom: 30px;
}
.stomach .first .box h3
{
    border: 2px solid black;
    text-align: center;
    padding: 3px;
}
.stomach .first .box p
{
    height: 70px;
    width: 100% ;
}
.stomach .first .box a
{
    text-align: center;
    border: 2px solid black;
}
.stomach .second .pack
{
    padding: 10px;
    /* border: 5px solid black; */
}
.stomach .second h3
{
    float: left;
    justify-content: left;
    text-align: left;
    text-align: start;
    padding: 10px;
    /* margin-right: 40pc; */
}
.nav
{
  align-items: center;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1581472723648-909f4851d4ae?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80)no-repeat center;
  background-size: cover;
}
.nav h1
{
    color: white;
    line-height: 10pc;
}
.stomach .second .pack p
{
    text-align: left;
    display: flex;
}
.slider .side .icons
{
    color: black;
    font-size: 17px;
    display: block;
    height: 100%;
    border-bottom: 3px solid #000;
    transition: 1s;
}
.slider .side
{
    height: 100%;
}
.slider .side .icons:hover
{
    border-left: 5px solid #000;
}
footer
{
    background-color: black;
    color: white;
    padding: 5px;
    
}
i
{
    transition: 1s;
}
i:hover
{
    color:red;
}